<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sharing Books and Clothes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".PhoneloginActivity" />
        <activity android:name=".EmailloginActivity" />
        <activity android:name=".EmailloginActivityStep1" />
        <activity android:name=".CreatePasswordActivity" />
        <activity android:name=".CreatePasswordStep1Activity" />
        <activity android:name=".CreatePasswordStep2Activity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".AccountCreated" />
        <activity android:name=".SelectbookActivity" />
        <activity android:name=".SelectbooksorclothesActivity" />
        <activity android:name=".PostsellbookadActivity" />
        <activity android:name=".PostSellbookad1Activity" />
        <activity android:name=".PostsellclothadActivity" />
        <activity android:name=".PostSellclothad1Activity" />
        <activity android:name=".CreatePasswordemailloginActivity" />
        <activity android:name=".PostdonatebookActivity" />
        <activity android:name=".PostdonateclothActivity" />
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>